h1{
    color: blueviolet;
}

.celeste{
    background-color:aquamarine;

}
.violeta{
    background-color: blueviolet;
}
.verde{
    background-color: green;
}
.amarillo{
    background-color: yellow;
}
.rosa{
    background-color: pink;
}
